<!DOCTYPE html>
<html>
  <head>
    <title>socket.io makes computers</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="window-chrome">
      <img class="chrome-image" src="macbook.png"/>
    </div>
    <div id="xp-window">
      <img class="xp-image" src="/xp.png" />
    </div>

    <script>
      var config = {}; config.io = "{{{io}}}";
    </script>
    <script src="/build.js"></script>
  </body>
</html>
