<!DOCTYPE html>
<html>
  <head>
    <title>socket.io makes computers</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="xp-window">
      {{#img}}
      <img alt="XP" class="xp-image" src="data:image/png;base64,{{img}}" />
      {{/img}}
      {{^img}}
      <img alt="XP" class="xp-image" src="/blank.gif" />
      {{/img}}
    </div>
    <div class="turn-timer"></div>

    <script>
      var config = {}; config.io = "{{{io}}}";
    </script>
    <script src="/build.js"></script>
  </body>
</html>
