<!DOCTYPE html>
<html>
  <head>
    <title>socket.io makes computers</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="window-chrome">
      <img class="chrome-image" src="macbook.png"/>
    </div>
    <div id="xp-window">
      <img draggable="false" class="xp-image" src="data:image/png;base64,{{img}}" />
    </div>
    <!--div class="turn-request">
      <div class="turn-request-button">
        Request a turn.
      </div>
    </div> -->
    <div class="turn-timer"></div>

    <script>
      var config = {}; config.io = "{{{io}}}";
    </script>
    <script src="/build.js"></script>
  </body>
</html>
