html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

#window-chrome {
  position: absolute;
  left: 0px;
  top: 0px;
}

.chrome-image {
  width: 442px;
  height: 310px;
}

#xp-window {
  position: absolute;
  left: 300px;
  top: 110px;
  /*cursor: none; /* let windows do that ;) */
}

.xp-image {
  width: 320px;
  height: 240px;
  border: 2px solid transparent;
}

.focused {
  border-color: red;
}

.turn-request {
  position: absolute;
  top: 360px;
  text-align: center;
}

.turn-request-button {
  cursor: pointer;
  width: 460px;
  height: 80px;
  line-height: 80px;
  background-color: #eee;
  border: 1px solid black;
  color: black;
  font-size: 3em;
  font-weight: 100;
  border-radius: 5px;
}
  .turn-request-button:hover, .turn-request-button:focus {
    border: 1px solid #444;
    color: #444;
  }

.turn-timer {
  font-size: 4em;
  color: red;
  margin-left: 20px;
}
