html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#window-chrome {
  position: absolute;
  left: 0px;
  top: 0px;
}

.chrome-image {
  height: 720px;
  width: 1200px;
}

#xp-window {
  position: absolute;
  left: 300px;
  top: 110px;
  cursor: none; /* let windows do that ;) */
}

.xp-image {
  width: 600px;
  height: 450px;
}
